@model Sof.Dew.MvcApp.Models.MainModel

@{
    ViewBag.Title = "Main";
}
<div class="body-content fixed-top">
    <h2>Main</h2>
    <button id="btn" type="button" class="btn btn-default">test</button>
</div>
@section scripts {
    <script>
        $("#btn").click(function () {
            //alert("")
            $.util.setNavText("test");
        })
    </script>
}

